<div class="container">
<!-- header -->
  <h1> <%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
 <!-- list -->
 <div class="list">
  <% @doses.each do |dose| %>
     <li><%= dose.description %></li>

    <% end %>
  </div>
<!-- navigation -->
  <%= link_to 'Add a Dose', new_cocktail_dose_path(@cocktail), class: "btn btn-small btn-warning" %>


  <%= link_to 'Back to Cocktails', root_path, class: "btn btn-small btn-warning"%>

</div>
